<div class="container">
    <label for="uname"><b>Nombre de usuario</b></label>
    <input type="text" placeholder="Ingrese nombre de usuario" name="uname" id="username">

    <label for="psw"><b>Contraseña</b></label>
    <input type="password" placeholder="Ingrese contraseña" name="psw" id="password">

    <button type="button" class="btn btn-primary" id="openModalBtn" href="checkout.html">
      Iniciar sesión
  </button>
  
  <script>
    document.getElementById("openModalBtn").addEventListener("click", function() {
      var username = document.getElementById("username").value;
      var password = document.getElementById("password").value;
  
      if (username === "" || password === "") {
        alert("Por favor, complete todos los campos.");
        return;
      }

      
      window.location.href = "Catalogue.html";
  
  
      console.log("Nombre de usuario:", username);
      console.log("Contraseña:", password);
  
    
    });
  </script>

    <label>
      <input type="checkbox" checked="checked" name="remember"> Recordar usuario
    </label>
  </div>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script>
$(document).ready(function() {
  $("#openModalBtn").click(function() {
  $("#exampleModal").modal('show');
  });
});
</script>
</form>
</div>
</div>
</main>

<script src="checkout.js"></script>